doctype html
html
    head
        h2(style={ color: 'black', fontWeight: 'bolt'}) #{header}:

    body
        div
            h3 <b>Company:</b> <span color='red'>#{company}</span>
            h3 <b>Level:</b> #{level}
            h3 <b>Category:</b> #{category}
            h3 <b>Description:</b> #{description}
            h3 <b>japaneseRequired:</b> #{japaneseRequired}

            br
            br
        div
            h2(style={ color: 'blue', fontWeight: 'bolt'}) (c) NodeJs_Server_Job_In_Japan
