doctype html
html
    head
        h2(style={ color: 'black', fontWeight: 'bolt'}) #{header}:

    body
        div
            h3
                b Company:
                span(style={ color: '#426892'})  #{company}
            h3
                b Level:
                span(style={ color: '#426892'})  #{level}
            h3
                b Category:
                span(style={ color: '#426892'})  #{category}
            h3
                b Description:
                span(style={ color: '#426892'})  #{description}
            h3
                b japaneseRequired:
                span(style={ color: '#426892'})  #{japaneseRequired}

            br
            br
        div
            h4(style={ color: '#414c60', fontWeight: 'bolt'}) (c) NodeJs_Server_Job_In_Japan
